<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<h2>ログイン</h2>
	<form th:action="@{/login}" method="post">
	    <input type="text" name="username" placeholder="ユーザー名"/>
	    <input type="password" name="password" placeholder="パスワード"/>
		<button type="submit">ログイン</button>
	</form>
	<a href="/oauth2/authorization/google">
		<img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png"
	       alt="Googleでログイン"
	       style="height: 40px;">
	</a>
</body>
</html>